@font-face {
  font-family: "Catamaran-Bold";
  src: url("/fonts/Catamaran-Bold.ttf") format("truetype");
}

body {
  font-family: "Catamaran-Bold";
  color: #fbfbfb;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin: 0px;
  overflow: hidden;
}

.aligner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  width: 100%;
  position: relative;
  top: -50px;
}

.kitty {
  height: 200px;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.kitty img {
  width: 200px;
  height: auto;
}

.aligner-item {
  max-width: 77%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.load,
.load::before,
.load::after {
  opacity: 1 !important;
}

.iframe_goodies {
  width: 92vw;
  height: 92vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0px 0px 10vw 10vw rgba(62, 62, 62, 0.7);
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.close {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 4;
}

.close.load {
  cursor: pointer;
}

.close:hover::before,
.close:hover::after {
  background: #b34a4a;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #e8e8e8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.built_by {
  position: fixed;
  bottom: 0;
}
